.card {
  /* Add shadows to create the "card" effect */
  transition: 0.3s;
  height: 250px;
  width: 300px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #eeeeee;
  border-radius: 20px;
  margin: 20px;
}
